body {
  font-family: Arial;
  padding: 10px;
}

.hidden { display: none; }

#messages {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.dark {
  background: #111;
  color: white;
}

img {
  vertical-align: middle;
  margin-right: 5px;
}
